@font-face {
    font-family: 'CyGroteskGrandDemi';
    src: url('CyGroteskGrandDemi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'CyGroteskWideDemi';
    src: url('CyGroteskWideDemi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GroteskWideRegular';
    src: url('GroteskWideRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto3;
}